* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #1b2522;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.top-header {
  height: 100vh;
  flex-direction: column;
  background-image: url(img/header_image.jpg);
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #1b2522;
  padding: 0.5rem 1rem;
}

.nav-top__logo {
  width: 50px;
}

.nav-top__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-top__link {
  margin-left: 1rem;
  color: #fff;
}

.nav-top__link:hover {
  color: #ccc;
}

.nav-top__title {
  margin: 0;
  font-size: 3rem;
}

.nav-top__subtitle {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: #fff;
  border-radius: 100000px;
  padding: 0.25em 1em;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: hsl(200, 100%, 40%);
}

.nav-top__scroll-down {
  position: absolute;
  bottom: 1rem;
  width: 30px;
  cursor: pointer;
}
