* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #1b2522;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility classes */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.uppercase {
  text-transform: uppercase;
}

.section {
  padding: 2rem;
}

.section__title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.top-header {
  height: 100vh;
  flex-direction: column;
  background-image: url(img/header_image.jpg);
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #1b2522;
  padding: 0.5rem 1rem;
}

.nav-top__logo {
  width: 50px;
}

.nav-top__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-top__link {
  margin-left: 1rem;
  color: #fff;
}

.nav-top__link:hover {
  color: #ccc;
}

.nav-top__title {
  font-size: 3rem;
}

.nav-top__subtitle {
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: #fff;
  border-radius: 100000px;
  padding: 0.25em 1em;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.btn:hover,
.btn:focus {
  background-color: hsl(200, 100%, 40%);
}

.nav-top__scroll-down {
  position: absolute;
  bottom: 1rem;
  width: 30px;
  cursor: pointer;
}

.curriculum {
  padding-top: 4rem;
}

.curriculum-title {
  color: #000;
}

.curriculum__container {
  grid-template-columns: repeat(2, minmax(auto, 450px));
  justify-content: center;
  row-gap: 10px;
  column-gap: 50px;
}

.curriculum__item {
  align-items: center;
}

.curriculum__item img {
  width: 50px;
  margin-right: 1rem;
}

.banner {
  background-color: hsl(200, 100%, 50%);
  color: #fff;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}

.banner__subtitle {
  max-width: 300px;
  text-align: center;
}

.form {
  max-width: 600px;
  margin: 0 auto;
}

.form label {
  color: #000;
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  outline: none;
  border: 1px solid #1b2522;
  border-radius: 0.3em;
  padding: 0.5em;
  color: inherit;
  font-family: inherit;
}

.form textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 200px;
}

.form input:focus,
.form textarea:focus {
  border-color: #0af;
}

.btn.btn-square {
  border-radius: 0.3em;
}

.btn-container {
  text-align: end;
}

.footer {
  justify-content: space-between;
  align-items: center;
  background-color: #1b2522;
  color: #fff;
  padding: 0.5rem 1rem;
}
